<h1><%= @gossip.title %></h1>

<p><%= @gossip.content %></p>

 <a href="<%= salut_path %>" class="btn btn-primary">revenir a la page d'acceuil</a> 
  <a href="<%= salut_path %>" class="btn btn-primary">voir la page de l'auteur</a> 