<h1> Créer un potin</h1>

<%= form_for :gossips do |f| %>
<div class="form-group">
<label> Nom du potin </label> 
   <%= f.text_field :first_name, class: 'form-control' %>
   </div>
   <div class="form-group">
   <label> description </label> 
   <%= f.text_area :description, class: 'form-control' %>
   </div>
   <div class="form-group">
   <button type="submit">Créer l'article</button>
   </div>
<% end %>

<a href="<%= salut_path %>" class="btn btn-primary">revenir a la page d'acceuil</a>